<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{ novoUsuario ? "Novo Usuário" : "Entre" }}
                                    </h3>
                                </div>
                                <div class="card-body">

                                    <!-- Success Alert -->
                                    <div *ngIf="!loginError && mensagem" class="alert alert-success">
                                        {{ mensagem }}
                                    </div>

                                    <!-- Error Alert -->
                                    <div *ngFor="let error of errors" class="alert alert-danger">
                                        {{ error }}
                                    </div>

                                    <!-- Form -->
                                    <form #loginForm="ngForm" (submit)="onSubmit();">
                                        <div class="form-group">
                                            <label class="small mb-1">E-mail</label>
                                            <input type="text" name="email"
                                                [(ngModel)]="email" autoc="off"
                                                class="form-control py-4"
                                                placeholder="Informe o seu email" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1">Senha</label>
                                            <input type="password" name="password"
                                                [(ngModel)]="password"
                                                class="form-control py-4"
                                                placeholder="Informe a senha" />
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button *ngIf="!novoUsuario" type="submit" class="btn btn-primary">
                                                Logar
                                            </button>
                                            <div *ngIf="novoUsuario">
                                                <button type="button" class="btn btn-success" (click)="cadastrar()">
                                                    Cadastrar
                                                </button>
                                                <button type="button" class="btn btn-danger ml-1" (click)="cancelaCadastro()">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastro($event)">Criar novo usuário</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
